.loginform {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.input {
  margin-top: 10px;
  font-size: 16px;
}

.loginBtn {
  margin-top: 4px;
  padding: 10px;
  font-weight: 700;
}
