.sb-colors-dark {
  --ui-sb-color-text-main: #e3e3e3;
  --ui-sb-color-text-main-always-light: #e3e3e3;
  --ui-sb-color-text-secondary: #9d9b98;
  --ui-sb-color-text-secondary-always-dark: #9d9b98;
  --ui-sb-color-text-disable: #555;
  --ui-sb-color-text-addition: #777;
  --ui-sb-color-bg-main: #141414;
  --ui-sb-color-bg-secondary: #272727;
  --ui-sb-color-bg-secondary-always-dark: #272727;
  --ui-sb-color-bg-secondary-accent: #333;
  --ui-sb-color-bg-shadow: #202020;
  --ui-sb-color-bg-shadow-always-dark: #202020;
  --ui-sb-color-bg-accent: #353535;
  --ui-sb-color-bg-accent-always-light: #242424;
  --ui-sb-color-bg-invert: #f7f7f7;
  --ui-sb-color-bg-invert-always-light: #f7f7f7;
  --ui-sb-color-stroke-main: #393939;
  --ui-sb-color-stroke-accent: #e3e3e3;
  --ui-sb-color-stroke-secondary: #5c5c5c;
  --ui-sb-color-element-brand: #4733ff;
  --ui-sb-color-element-brand-secondary: #1f1c37;
  --ui-sb-color-element-brand-addition: #211c4f;
  --ui-sb-color-element-success: #11af50;
  --ui-sb-color-element-success-secondary: #1f3528;
  --ui-sb-color-element-success-addition: #204a31;
  --ui-sb-color-element-danger: #eb5545;
  --ui-sb-color-element-danger-secondary: #35211f;
  --ui-sb-color-element-danger-addition: #4a2420;
  --ui-sb-color-element-warning: #fa0;
  --ui-sb-color-element-warning-always-dark: #fa0;
  --ui-sb-color-element-warning-secondary: #372e1c;
  --ui-sb-color-element-warning-addition: #4f3e1c;
  --ui-sb-color-element-sticker: #fffa57;
  --ui-sb-color-element-info: #dcf4fe;
  --ui-sb-color-element-always-none: none;
  --ui-sb-color-element-always-white: #fff;
  --ui-sb-color-element-always-gray: #ccc;
  --ui-sb-color-element-always-black: #000;
  --ui-sb-color-element-baked-milk: #fdf4ed;
  --ui-sb-color-icon-main: #e3e3e3;
  --ui-sb-color-icon-secondary: #6c6c6c;
  --ui-sb-color-link-visited: #bc8ef2;
}

.sb-colors-light {
  --ui-sb-color-text-main: #000;
  --ui-sb-color-text-main-always-light: #e3e3e3;
  --ui-sb-color-text-secondary: #6b6b6b;
  --ui-sb-color-text-secondary-always-dark: #9d9b98;
  --ui-sb-color-text-disable: #c3c2be;
  --ui-sb-color-text-addition: #a6a4a0;
  --ui-sb-color-bg-main: #fff;
  --ui-sb-color-bg-secondary: #f7f7f5;
  --ui-sb-color-bg-secondary-always-dark: #272727;
  --ui-sb-color-bg-secondary-accent: #edecea;
  --ui-sb-color-bg-shadow: #fff;
  --ui-sb-color-bg-shadow-always-dark: #202020;
  --ui-sb-color-bg-accent: #242424;
  --ui-sb-color-bg-accent-always-light: #242424;
  --ui-sb-color-bg-invert: #000;
  --ui-sb-color-bg-invert-always-light: #f7f7f7;
  --ui-sb-color-stroke-main: #e4e4e4;
  --ui-sb-color-stroke-accent: #000;
  --ui-sb-color-stroke-secondary: #c3c2be;
  --ui-sb-color-element-brand: #3f2aff;
  --ui-sb-color-element-brand-secondary: #e2dfff;
  --ui-sb-color-element-brand-addition: #c5bfff;
  --ui-sb-color-element-success: #4bb34b;
  --ui-sb-color-element-success-secondary: #def2d9;
  --ui-sb-color-element-success-addition: #afdfb4;
  --ui-sb-color-element-danger: #ff5733;
  --ui-sb-color-element-danger-secondary: #ffe6e0;
  --ui-sb-color-element-danger-addition: #ffcdc2;
  --ui-sb-color-element-warning: #fdbf23;
  --ui-sb-color-element-warning-always-dark: #fa0;
  --ui-sb-color-element-warning-secondary: #fff2d9;
  --ui-sb-color-element-warning-addition: #ffe6b3;
  --ui-sb-color-element-sticker: #fff705;
  --ui-sb-color-element-info: #dcf4fe;
  --ui-sb-color-element-always-none: none;
  --ui-sb-color-element-always-white: #fff;
  --ui-sb-color-element-always-gray: #ccc;
  --ui-sb-color-element-always-black: #000;
  --ui-sb-color-element-baked-milk: #fdf4ed;
  --ui-sb-color-icon-main: #000;
  --ui-sb-color-icon-secondary: #c3c2be;
  --ui-sb-color-link-visited: #5d1793;
  --ui-sb-shadow-elevation-2: 0 4px 8px rgb(0 0 0 / 2%), 0 0 2px rgb(0 0 0 / 8%), 0 0 1px rgb(0 0 0 / 12%);
  --ui-sb-shadow-elevation-4: 0 4px 8px rgb(0 0 0 / 4%), 0 0 2px rgb(0 0 0 / 8%), 0 0 1px rgb(0 0 0 / 4%);
  --ui-sb-shadow-elevation-10: 0 4px 4px rgb(0 0 0 / 4%), 0 4px 20px rgb(0 0 0 / 10%);
  --ui-sb-gradient-skeleton: linear-gradient(90deg, transparent, hsl(0deg 0% 100% / 50%), transparent);
}
