.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--duration-default) opacity;
}

.content {
  padding: 20px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--size-border-radius);
  z-index: var(--z-index-modal);
  transform: scale(0.7);
  transition: var(--duration-default) transform;
}

.opened {
  pointer-events: auto;
  opacity: 1;

  & .content {
    transform: scale(1);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: var(--z-index-overlay);
  cursor: pointer;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--color-text-main);

  &:hover {
    color: var(--color-text-secondary);
  }
}
