.Button {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-button-color);
  line-height: 1;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background-color: var(--color-accent-hover);
  }
}

.disabled {
  background-color: var(--color-button-disabled);
  cursor: default;

  &:hover {
    background-color: var(--color-button-disabled);
  }
}
