.BIG {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.SMALL {
  max-width: 1200px;
  display: flex;
  gap: 16px;

  &.wrap {
    flex-wrap: wrap;
  }

  &.no_wrap {
    flex-wrap: nowrap;
  }

  .card {
    display: inline-flex;
    min-height: 300px;
  }

  .row {
    display: flex;
    gap: 16px;
  }
}
