.dropdown {
  position: relative;
  display: inline-block;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  overflow: hidden;
  background-color: var(--card-bg);
  z-index: 11;
  border-radius: 8px;
  border: 1px solid var(--popup-border, var(--primary-color));
  box-shadow: var(--popup-shadow, none);
}

.item {
  padding: 10px 16px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  background: none;
  outline: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--popup-hover, var(--inverted-primary-color));
}
