:root {
  --color-bg: #fff;
  --color-primary: #000;
  --color-secondary: #6b6b6b;
  --color-accent: #007bff;
  --color-accent-hover: #0056b3;
  --color-error: #dc3545;
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  // button
  --color-button-color: #fff;
  --color-button-disabled: #aaa;
}
