.listbox {
  position: relative;
}

.options {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  min-width: 140px;
  padding: 4px;
  background-color: var(--listbox-bg);
  border-radius: 10px;
  border: 1px solid var(--popup-border, transparent);
  box-shadow: var(--popup-shadow, 4px 4px 8px var(--listbox-bg));

  // &.bottomLeft {
  //   top: calc(100% + 5px);
  //   right: 0;
  // }

  // &.bottomRight {
  //   top: calc(100% + 5px);
  //   left: 0;
  // }

  // &.topLeft {
  //   bottom: calc(100% + 5px);
  //   right: 0;
  // }

  // &.topRight {
  //   bottom: calc(100% + 5px);
  //   left: 0;
  // }
}

.item {
  padding: 8px 16px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.15s ease, color 0.15s ease;

  &.selected {
    padding-left: 25px;

    &::before {
      position: absolute;
      left: 8px;
      top: calc(50% - 6px);
      content: '\2713';
      color: var(--accent-up, var(--primary-color));
      line-height: 12px;
    }
  }
}

.trigger[data-headlessui-state='disabled'] {
  &:hover {
    opacity: 0.5;
    cursor: auto;
  }
}

.label {
  margin-left: 4px;
}
