.navbar {
  display: flex;
  background-color: var(--color-bg-secondary);
  height: var(--size-navbar-height);
  padding: 0 20px;
  align-items: center;
  justify-content: flex-end;
}

.link:not(:last-child) {
  margin-right: 15px;
}
