.card {
  padding: 15px;
  border-radius: var(--radius-lg);
  background-color: var(--bg-surface-redesigned);
  border: 1px solid var(--divider-redesigned);
}

.normal {
  background-color: var(--bg-surface-redesigned);
}

.outlined {
  border: 1px solid var(--divider-redesigned);
}
